:root {
  --color-primary: #24b47e;
  --color-primary-hover: #1a815a;
  --color-primary-active: #156748;
  --color-supabase-green: #24b47e;
  --color-supabase-green-hover: #1a815a;
  --color-supabase-green-active: #156748;
  --color-supabase-green-50: #89e7c4;
  --color-supabase-green-100: #70e2b7;
  --color-supabase-green-200: #56ddab;
  --color-supabase-green-300: #3dd89e;
  --color-supabase-green-400: #29cd90;
  --color-supabase-green-500: #24b47e;
  --color-supabase-green-600: #1f9a6c;
  --color-supabase-green-700: #1a815a;
  --color-supabase-green-800: #156748;
  --color-supabase-green-900: #104e37;
  --color-purple: #6924b4;
  --color-pink: #b4246b;
  --color-green: #a0b424;
}
